<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('partials/head',{title : 'Comic'})%>
<body>
    <!-- Navbar -->
    <%- include('partials/navbar')%>
    <button type="submit"><a href="https://mangakuy-id.herokuapp.com/comics/add">Add</a></button>

    <table class="table table-info">
        <thead>
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Picture</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publication Year</th>
            <th scope="col">Post By</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <% data.forEach(e=>{%>
            <tbody>
              <tr>
                <!-- <td><%= e.id%></td> -->
                <td><img src="<%= e.picture %>" width="120" height="150"/><br><%=retingToStars(e.rating)%></td>
                <td><%= e.title%></td>
                <td><%= e.lowerCase()%></td>
                <td><%= e.publicationYear %></td>
                <td><%= e.postBy %></td>
                <td><%= formatPrice(e.price) %></td> 
                <td>
                    <button type="submit"><a href="https://mangakuy-id.herokuapp.com/comics/edit/<%= e.id %>">Edit</a></button>
                    <button type="submit"><a href="https://mangakuy-id.herokuapp.com/comics/delete/<%= e.id %>">Delete</a></button>
                    <button type="submit"><a href="https://mangakuy-id.herokuapp.com/comics/addgenre/<%= e.id %>">Add Genre</a></button>
                </td>
              </tr>
            </tbody>
        <%})%>
      </table>
    <!-- Script js -->
    <%- include('partials/script')%>
</body>
</html>