<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('partials/head',{title : 'Edit Comic'})%>
<body>
    <!-- Navbar -->
    <%- include('partials/navbar')%>
    <%data.forEach(e=>{%>
      <form action="/comics/edit/<%= e.id %>" method="POST">
        <fieldset>
          <label>Title:</label><br>
          <input type="textr" name="title" value="<%= e.title %>"><br>
          <label>Author:</label><br>
          <input type="text" name="author" value="<%= e.author %>"><br>
          <label>PublicationYear:</label><br>
          <input type="integer" name="publicationYear" value="<%= e.publicationYear %>"><br>
          <label>Post By:</label><br>
          <input type="text" name="postBy" value="<%= e.postBy %>"><br>
          <label>Price:</label><br>
          <input type="integer" name="price" value="<%= e.price %>" ><br>
          <label>Link:</label><br>
          <input type="text" name="picture" value="<%= e.picture %>"><br>
          <label>Rating:</label><br>
          <input type="integer" name="rating" value="<%= e.rating %>"><br><br>
          <input type="submit" value="Save" style="background-color: green; border-radius: 5px; color: #ffffff;">
          <button style="background-color: brown; border-radius: 5px;"><a style="color: #ffffff;" href="https://mangakuy-id.herokuapp.com/comics/add">Cencel</a></button>
        </fieldset>
      </form>
      <%})%>

    <!-- Script js -->
    <%- include('partials/script')%>
</body>
</html>