<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('partials/head',{title : 'Edit Comic'})%>
<body>
    <!-- Navbar -->
    <%- include('partials/navbar')%>
      <form action="/comics/edit/<%= dataComic.id %>" method="POST">
        <fieldset>
          <center>
          <label>Title:</label><br>
          <input type="textr" name="title" value="<%= dataComic.title %>"><br>
          <label>Author:</label><br>
          <input type="text" name="author" value="<%= dataComic.author %>"><br>
          <label>PublicationYear:</label><br>
          <input type="integer" name="publicationYear" value="<%= dataComic.publicationYear %>"><br>
          <label>Post By:</label><br>
          <input type="text" name="postBy" value="<%= dataComic.postBy %>"><br>
          <label>Price:</label><br>
          <input type="integer" name="price" value="<%= dataComic.price %>" ><br>
          <label>Link:</label><br>
          <input type="text" name="picture" value="<%= dataComic.picture %>"><br>
          <label>Rating:</label><br>
          <input type="integer" name="rating" value="<%= dataComic.rating %>"><br><br>
          <label>Genre:</label><br>

          <% dataComic.Genres.forEach((e, index) => { %>
            <input type="checkbox" id="<%= e.genreName %>" name="GenreId" value="<%= e.id %>" checked>
            <label for="<%= e.genreName %>"><%= e.genreName %></label>
          <% }) %>


          <% dataGenre.forEach((el, index) => { %>
            <% if (index === 5) { %>
              <br>
            <% } %>
            <% let flag = false %>
            <% dataComic.Genres.forEach((e, index) => {  %>
              <% if (el.id === e.id) { %> 
                <% flag = true %> 
                <% } %> 
              <% }) %> 
                <% if (!flag) { %> 
                  <input type="checkbox" id="<%= el.genreName %>" name="GenreId" value="<%= el.id %>">
                  <label for="<%= el.genreName %>"><%= el.genreName %></label>
              <% } %> 
          <% }) %> 

           <br><br>
          <input type="submit" value="Save" style="background-color: green; border-radius: 5px; color: #ffffff;">
          <button style="background-color: brown; border-radius: 5px;"><a style="color: #ffffff;" href="/comics">Cancel</a></button>
        </center>
        </fieldset>
      </form>

    <!-- Script js -->
    <%- include('partials/script')%>
</body>
</html>